<form style="display: flex; flex-direction: column;" [formGroup]="f">
  <mat-form-field *ngIf="create">
    <ng-container>
      <input type="text" matInput placeholder="File Name" formControlName="fileName">
    </ng-container>
  </mat-form-field>
  <mat-form-field>
    <ng-container>
      <input type="text" matInput placeholder="Path of Pictures" formControlName="picturesPath">
    </ng-container>
  </mat-form-field>
  <mat-dialog-actions style="justify-content: space-around;">
    <button [disabled]="this.f.invalid" type="button" mat-raised-button color="accent" [mat-dialog-close]="f.value">OK</button>
    <button type="button" mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </mat-dialog-actions>
</form>

