<h2 mat-dialog-title>Files</h2>
<mat-dialog-content class="mat-typography">
  <mat-selection-list #filesOptions [multiple]="false">
      <mat-list-option *ngFor="let file of this.files" (click)="onClick(file)">
        {{file}}
      </mat-list-option>
    </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button disabled="true" mat-button [mat-dialog-close]="{file: selectedFile, action: 'delete'}">
    Delete
  </button>
  <button [disabled]="!selectedFile" mat-button [mat-dialog-close]="{file: selectedFile, action: 'downloadXlsx'}">
    <mat-icon>file_download</mat-icon> xlsx
  </button>
  <button [disabled]="!selectedFile" mat-button [mat-dialog-close]="{file: selectedFile, action: 'downloadCsv'}">
    <mat-icon>file_download</mat-icon> csv
  </button>
  <button [disabled]="!selectedFile" mat-button [mat-dialog-close]="{file: selectedFile, action: 'open'}">
    Open
  </button>
</mat-dialog-actions>
